extends layout

block content
  .links
    hr
    a(href="/beginning", class="beginning")= 'ВОСХОЖДЕНИЕ И РАСЦВЕТ'
    br
    a(href="/stagnation", class="stagnation")= 'ЗАСТОЙ'
    br
    a(href="/breakdown", class="breakdown")= 'УПАДОК'
    br
    a(href="/test", class="test")= 'ТЕСТ'
    hr
    a(href="/", class="test")= 'Вернуться на главную страницу'
  .content
    p.topic
      | Восхождение
    p.subhead
      | IE 1.0
    p
      | История IE ведет отсчет с 16 августа 1995 года, когда вышла самая первая версия браузера (1.0) в составе
      | дополнения Microsoft Plus! к операционной системе Windows 95. Программа стала плодом лицензионного соглашения
      | между Microsoft и Spyglass — небольшой компанией, стоявшей за браузером Mosaic.
    p
      | Microsoft Plus! — коммерческий продукт, дополняющий возможности Microsoft Windows. Последней редакцией была
      | Plus! SuperPack, которая включала в себя заставки, темы, игры и мультимедийные приложения. Microsoft Plus!
      | впервые был анонсирован 31 января 1994 года под кодовым названием Frosting.
      | Дополнения из Microsoft Plus! обычно разрабатывала сама Microsoft. Пакеты Plus! также включали игры и контент от
      | третьих лиц, например, в Plus! for Windows XP, игра HyperBowl была разработана компанией Hyper Entertainment.
    p.subhead
      | IE 2.0
    p
      | 2-я версия IE вышла уже несколько месяцев спустя, в ноябре 1995 года. Чтобы догнать Netscape Navigator (появился
      | в октябре 1994 года), на тот момент занимавший 90% рынка, Microsoft пришлось позаимствовать несколько функций у
      | тогдашнего лидера и подстроиться под нужны пользователей. Например, в IE 2.0 появилась возможность импорта
      | закладок из Netscape и поддержка ряда HTML-тегов, чтобы веб-страницы выглядели точно так же, как в "окне"
      | конкурента. Кстати, IE 2.0 стала первой версией, доступной не только на Windows 95, но и на на Mac OS. Он
      | поставлялся как обозреватель по умолчанию в Windows 95 OSR1 и Windows NT 4.0. Также предлагался для Windows 95 и
      | Windows 3.1. Данная версия браузера была переведена на 24 языка, в том числе на русский.
    p.subhead
      | IE 3.0
    p
      | В августе 1996 года состоялся третий крупный релиз IE. Чтобы отобрать у Netscape пальму первенства, Microsoft
      | встроила в браузер собственный JavaScript-обработчик JScript, поддержку фреймворка ActiveX (для воспроизведения
      | видео или музыки, открытия файлов других форматов через подключаемые модули-компоненты), CSS и плагинов, а также
      | 128-битного шифрования. Несмотря на то что компания почти полностью отказалась от исходного кода Spyglass,
      | использовавшегося в первых двух версиях, в IE 3.0 она продолжала применять некоторые его технологии. Позднее,
      | столкнувшись с угрозой иска о нарушении авторских прав, Microsoft выплатила своему бывшему партнеру 8 миллионов
      | долларов в 1997 году. Сама Spyglass прекратила существование в 2000-м после поглощения со стороны OpenTV.
    p.topic
      | Расцвет
    p.subhead
      | IE 4.0
    p
      | Internet Explorer 4 (сокращённо IE4) — четвёртая версия обозревателя от Microsoft, выпущенная в октябре 1997
      | года. Первая версия IE, в которой появился новый логотип с синей буквой E..
    p
      | Эта версия имела более глубокую связь с операционной системой. Код обозревателя был полностью переписан.
      | Основным нововведением IE4 является технология групповой политики, позволяющей компаниям отлаживать и
      | контролировать доступ своих сотрудников ко многим аспектам конфигурации обозревателя. Версия поддерживала DHTML,
      | собственные расширения JavaScript, несовместимые с Netscape 4.0, могла перерисовывать страницу (например, если с
      | помощью JS был добавлен или убран элемент). IE 4.0 поддерживал собственную объектную модель документа (DOM), так
      | называемую document.all, которая была значительно проще и стабильнее DOM Netscape — document.layers.
    p
      | Он поставлялся как обозреватель по умолчанию в Windows 98. Также предлагался для Windows 3.1, Windows 95 и
      | Windows NT 4.0.
      | Это был один из главных участников первой войны браузеров. Версия IE 4.0 была включена в Windows 95 OEM Service
      | Release 2.5 и 4.01 в Windows 98, кроме того, браузер работал на новом движке Trident. Установка IE 4 в Windows
      | 95 или Windows NT 4 сопровождалась с установкой Windows Desktop Update, которая обновляла Windows Explorer,
      | добавляла поддержку Active Desktop.
      | Преемник IE4, обозреватель Internet Explorer 5 вышел в марте 1999 года.
    p.subhead
      |IE 5.0
    p
      | Выход Internet Explorer 5.0 состоялся в марте 1999 года, а начиная с сентября эта версия начала поставляться
      | вместе со 2-м "изданием" Windows 98 (Second Edition). В ней был реализован API XMLHttpRequest (XHR), позволяющий
      | браузеру запрашивать информацию у сервера без перезагрузки страницы, а также возможность создания HTA-приложений
      | (HTML Application), взаимодействующих непосредственно с операционной системой. К моменту релиза следующей,
      | шестой версии IE доля "пятерки" превышала 80% на рынке браузеров — во многом благодаря интеграции с Windows.
      | Компания поплатилась за это антимонопольным иском "США против Microsoft" в конце 90-х. Отстаивая свою позицию,
      | разработчик пытался доказать в суде, что IE "в интересах потребителей" очень тесно связан с Windows 98, и ОС
      | просто не может без него работать. Позднее австралийский специалист Шейн Брукс показал обратное: "операционка"
      | прекрасно справлялась без IE даже если полностью удалить файлы программы из системы. В результате минюст США
      | согласился пойти на мировое соглашение с Microsoft, предложив разработчику открыть API сторонним компаниям.
      | Разбирательство так ни к чему и не привело: примерно половина из 20 штатов отказались идти на "мировую", а в
      | 2007-м обязательства Microsoft по урегулированию иска истекли.
    p
      | Другое громкое дело пришлось на конец 2000-х. Расследование против Microsoft в этот раз завела Еврокомиссия,
      | посчитав, что Microsoft использует свое доминирующее положение на рынке операционных систем, чтобы сдержать
      | распространение браузеров конкурентов. В 2009-м ЕК обязала компанию предустановить в Windows все основные
      | браузеры и предоставить пользователям возможность выбора. Microsoft согласилась сделать это и выплатила штраф в
      | 2 миллиарда долларов.
    p
      | Условия соглашения, однако, компания выполнять отказалась. Версии Windows 7, распространяемые с февраля 2009
      | года по июль 2012-го, не предоставляли пользователям возможность выбора браузера. По мнению Еврокомиссии, из-за
      | этого пострадали разработчики сторонних интернет-обозревателей и миллионы пользователей. В Microsoft на это
      | отвечали, что отсутствие диалога выбора браузера было вызвано "техническими неполадками".
    p
      | Браузер Internet Explorer 5.5 вышел в июле 2000 года. Из главных его особенностей — улучшенный предпросмотр
      | страниц для печати, улучшенная поддержка CSS и HTML и интерфейс программирования. Поставлялся как браузер по
      | умолчанию в Windows ME; также предлагался для Windows 95, Windows NT 4.0, Windows 98, Windows 98 SE и Windows
      | 2000.
    p
      | Преемник IE5, обозреватель Internet Explorer 6 вышел в августе 2001 года.
