extends layout

block content
  .links
    hr
    a(href="/beginning", class="beginning")= 'ВОСХОЖДЕНИЕ И РАСЦВЕТ'
    br
    a(href="/stagnation", class="stagnation")= 'ЗАСТОЙ'
    br
    a(href="/breakdown", class="breakdown")= 'УПАДОК'
    br
    a(href="/test", class="test")= 'ТЕСТ'
    hr
    a(href="/", class="test")= 'Вернуться на главную страницу'
  .content
    p.topic Упадок
    p.subhead IE 8.0
    p
        | Internet Explorer 8 (сокращённо IE8) — восьмая версия была выпущена 19 марта 2009 года для Windows XP,Windows
        | Server
        | 2003, Windows Vista и Windows Server 2008. Поддерживается как 32-битными операционными системами, так и
        | 64-битными.
        | IE8 — преемник IE7, выпущенного в октябре 2006 года, и является браузером по умолчанию для Windows 7 и Windows
        | Server 2008. Также Internet Explorer 8 является последним браузером из ветки IE для Windows XP и Windows Server
        | 2003.
    p
        | В этой версии была исключена поддержка некоторых стандартов, поддерживаемых Microsoft, таких как CSS-выражения и
        | значительно расширена поддержка DOM Level 2, в связи с чем на MSDN была организована информационная поддержка
        | пользователей, мигрирующих с прежних версий браузера.
    p
        | Разработка IE8 была начата не позднее марта 2006 года В феврале 2008 года Microsoft отправляла частные
        | приглашения
        | для тестирования 1-й бета-версии.
    p
        | На этапе разработки была функция уведомления пользователя о том, что вкладка зависла и не отвечает слишком долго,
        | однако от неё отказались впоследствии, посчитав ненужной.
    p Некоторые из новых свойств:
    div.lists
        p  • автоматическое восстановление вкладок после сбоя;
        p
            | • «ускорители» — быстрые команды, доступные из контекстного меню: поиск в Live Search, поиск на карте, отправка
            | по
            | почте, перевод на другой язык, добавление в онлайн-закладки и ряд других;
        p
            | • WebSlices (веб-фрагменты) — подписка пользователей на отдельные участки страниц;
        p
            | • «умная адресная строка» — при вводе адреса браузер возвращает результат, основанный не только на URL ранее
            | посещённого вами сайта, но и на заголовке страницы и других её свойствах;
        p • подсветка доменного имени в адресной строке;
        p
            | • приватный режим работы InPrivate, позволяющий заходить на сайты, не оставляя следов в истории браузера;
        p
            | • быстрое полностраничное масштабирование (управляется нажатием клавиши Ctrl и вращением колёсика мыши);
        p • поддержка WAI-ARIA.
    p
        | Acid3 — тест поддержки браузером веб-стандартов. Он проверяет 100 вероятно уязвимых мест в HTTP, HTML, CSS,
        | ECMAScript, SVG и XML, а также работу с DOM. Намеренно выбираются такие тесты, которые не проходила сборка хотя бы
        | одного из браузеров того времени (последние 16 тестов — Firefox или Safari).
    p
        | 29 января 2008 года Ян Хиксон, разработчик Acid2 и Acid3, а ныне работник Google, сообщил о предварительном релизе
        | Acid3 — пока сам тест проходил проверку на соответствие спецификациям, каждый желающий мог проверить свои браузеры.
        | 3 марта 2008 разработка теста была закончена, и появились наброски для Acid4.
    p
        | В 2013 году Хиксон объявил, что достиг целей по унификации браузеров, и Acid4 так и не появился. К апрелю 2017 года
        | спецификации пришли к консенсусу, который слегка не совпадает с тем, что проверяет Acid3. Тест оставили ради
        | истории, но он уже ничего не значит. На 2019 год и Firefox Quantum, и мобильный Firefox, и браузеры на Blink
        | проходят его на 97/100.
    p.subhead IE 9.0
    p
        | Развитие IE9 началось вскоре после окончательного выпуска IE8 и Microsoft начала принимать предложения от
        | пользователей через Microsoft Connect. До сих пор команда разработчиков IE9 сосредоточена на улучшении поддержки
        | HTML5 и добавление поддержки для XHTML и SVG.
    p
        | Информация об Internet Explorer 9 появилась на конференции PDC 2009 в ноябре 2009 года. Команда разработчиков начала
        | работу над ним в конце октября 2009 года и уже достигла некоторых результатов. Так, движок отображения был переведён
        | с GDI+ на DirectX, что позволяет рисовать более гладкие кривые (в том числе в шрифтах), а также ускорил работу
        | браузера более чем в 5 раз по сравнению с прежней версией. На продемонстрированной странице с тем же самым маршрутом
        | скорость прорисовки в IE8 составляла 7 кадров в секунду, а в IE9 — 130 кадров в секунду. Также первая сборка
        | Internet Explorer 9 набирает 32 из 100 в тесте Acid3 против 20 в IE8.
    p
        | Первая предварительная версия браузера (англ. Platform Preview) вышла 16 марта 2010 года. Эта версия набирала 55
        | баллов из 100 в тесте Acid3. Кроме того эта версия также продемонстрировала более быструю обработку JavaScript.
        | 5 мая 2010 года вышла вторая предварительная версия браузера, в которой было исправлено множество ошибок, а также
        | существенно ускорилась обработка страниц и более грамотное потребление ресурсов компьютера. В тесте Acid3 он
        | набирает 68 из 100 и скорость обработки JavaScript уменьшилась до 473 мс, а также полное прохождение стандартам W3C.
        | Также он будет поддерживать кодеки H.264/MPEG4 и MP3/ACC. 23 июня вышла третья предварительная версия. В тесте Acid3
        | он уже набирает 83 из 100 и скорость обработки JavaScript уменьшилась до 347 мс. 5 августа вышла четвёртая
        | предварительная версии в тесте Acid3 он уже набирает 95 из 100.
    p
        | Финальная версия Internet Explorer 9 вышла 14 марта 2011 года, спустя ровно один год с момента выпуска первой
        | Platform Preview версии.
    p
        | Internet Explorer 9 включает в себя значительные изменения в пользовательском интерфейсе по сравнению с предыдущими
        | версиями. К ним относятся:
    div.lists
        p  • Важнейшие сайты: Интеграция с панелью задач Windows 7.
        p
            | • Диспетчер загрузок: позволяет приостанавливать и возобновлять загрузку файлов, а также сообщать о загрузках
            | вредоносных файлов.
        p • Адресная строка с функцией автодополнения.
        p
            | • Расширения и другие приложения — вкладки отображаются рядом с адресной строкой (есть возможность иметь отдельную
            | строку, как и в IE8) с функцией закрытия неактивной вкладки.
        p
            | • Приложения на Performance Advisor: Показывает, какие дополнения могут замедлять работу браузера, а затем позволяет
            | отключить или удалить их.
        p • Компактный пользовательский интерфейс.
        p • Скруглённые границы окна.
    p
        | В Internet Explorer 9 используется новый движок JavaScript «Chakra», увеличивающий производительность исполнения
        | сценариев на языке JavaScript. Также добавлена поддержка элементов ECMAScript 5.
    p В Internet Explorer 9 улучшена поддержка DOM уровней 2 и 3.
    p Добавлена поддержка многих компонентов CSS3:
    div.lists
        p
            | • двумерные преобразования;
        p
            | • модуль фонов и границ;
        p
            | • модуль цвета;
        p
            | • модуль шрифтов;
        p
            | • модуль запроса носителей;
        p
            | • модуль пространств имен;
        p
        p • модуль значений и единиц измерения;
        p • селекторы CSS3.
    p Internet Explorer 9 поддерживает спецификацию HTML5:
    div.lists 
        p
            | • элемент audio, позволяющий проигрывать аудиофайлы MP3 и AAC;
        p
            | • элемент canvas, позволяющий создавать растровую графику;
        p
            | • элемент video, позволяющий проигрывать видео-файлы H.264/MPEG-4 AVC и WebM (при наличии установленного кодека
            | VP8);
        p
            | • структурные элементы article, aside, figcaption, figure, footer, header, hgroup, mark, nav, section;
        p
            | • векторная графика в формате SVG, в том числе внедряемая в HTML;
        p
            | • API для географического расположения.
    p
        | В феврале 2011 года на Mobile World Congress Стив Балмер анонсировал большое обновление для Windows Phone 7, которое
        | должно было выйти к концу 2011 года и включать мобильную версию Internet Explorer 9, которая будет поддерживать те
        | же стандарты, что и обычная версия (в том числе HTML5), а также аппаратное ускорение, как на ПК версии. Microsoft
        | продемонстрировала аппаратное ускорение на тесте fish-tank используя тестовую версию мобильного IE9 и сравнила с
        | низкой производительностью в браузере Safari на iPhone.
    p
        | Эксперт в области компьютерной безопасности Тодд Фейнман выступил с критикой браузера Internet Explorer 9, обвинив
        | разработчиков, что они не обеспечивают должной защиты пользовательских паролей.
