extends layout

block content
  nav
    #myTopnav.topnav
      a(href=direction, class="logAction")=action
      a(href=loggedInDirection, class="regGreetAction")=greeting
    hr(color='black', width='600')
  .links    
    hr
    a(href="/beginning", class="beginning")= 'ВОСХОЖДЕНИЕ И РАСЦВЕТ'
    br
    a(href="/stagnation", class="stagnation")= 'ЗАСТОЙ'
    br
    a(href="/breakdown", class="breakdown")= 'УПАДОК'
    br
    a(href="/test", class="test")= 'ТЕСТ'
    hr
  .content 
    p.topic
      | История Internet Explorer
    p
      | Несколько дней назад компания Microsoft объявила об отказе от легендарного бренда Internet Explorer
      | (IE),которому в этом году исполнится 20 лет. На смену одному из старейших браузеров придет другая программа,
      | которая пока известна под рабочим названием Project Spartan. Она появится в операционной системе Windows 10,
      | выход которой запланирован на лето.
    p
      | В разные годы мировое IT-сообщество высмеивало и критиковало IE за медлительность, отсталый интерфейс, неполную
      | поддержку современных интернет-технологий (таких как HTML5 и CSS3) и уязвимости, выявлявшиеся с завидной
      | регулярностью. Особой ненависти удостоилась 6-я версия продукта, которую нарекли "худшим ПО на планете".
      | Ребрендинг, надеются в компании, поможет разрушить негативное восприятие "браузера Microsoft" и начать с чистого
      | листа.
    p
      | Internet Explorer — программа-инструмент для скачивание браузер, которую разрабатывала корпорация Microsoft с
      | 1995 по 2015 год. Входила в комплект операционных систем семейства Windows вплоть до Windows 10, где её сменил
      | Microsoft Edge (На самом деле, IE остаётся в системе Windows 10 до 1909 включительно).
      | Согласно разным методам подсчёта, доля Internet Explorer среди пользователей варьировала между 24,64 % и 58,15 %
      | (на январь 2017 года).
    p
      | Со времени выхода первого релиза Microsoft добавила ряд функций и технологий. Среди них — отображение таблиц
      | HTML (в Internet Explorer 1.5); интерфейс программирования приложений XMLHttpRequest (в Internet Explorer 5),
      | который помогает создавать динамические сайты; и интернационализованные доменные имена (в Internet Explorer 7),
      | что позволяет давать сайтам адреса символами не только латиницы.
    hr
    p
      | XMLHttpRequest (XMLHTTP, XHR) — API, доступный в скриптовых языках браузеров, таких как JavaScript. Использует
      | запросы HTTP или HTTPS напрямую к веб-серверу и загружает данные ответа сервера напрямую в вызывающий скрипт.
      | Информация может передаваться в любом текстовом формате, например, в XML, HTML или JSON. Позволяет осуществлять
      | HTTP-запросы к серверу без перезагрузки страницы.
    p
      | XMLHTTP является важной составляющей технологии AJAX (Asynchronous JavaScript And XML), используется многими
      | сайтами для создания динамичных, быстро реагирующих на запросы пользователя приложений. Например XMLHTTP
      | используется такими сайтами, как Bing Maps, Gmail, Google Maps, Google Suggest, Facebook.
      | XMLHTTP работает только с файлами, находящимися на том же домене, что и использующая XMLHTTP страница, но
      | существует возможность обойти ограничение. Как и в случае JavaScript, эта возможность обойти ограничение сделана
      | в целях безопасности (cross-site scripting).
    p
      | Хотя в названии присутствует аббревиатура XML, технология не накладывает ограничений на формат передаваемых
      | данных. Данные можно пересылать как в виде XML, так и в JSON, HTML или просто неструктурированным текстом.
      | Разработчик может самостоятельно создать формат для передачи данных. Однако нужно учитывать, что при пересылке
      | используется текстовый протокол HTTP и потому при использовании метода GET данные должны передаваться в виде
      | текста (то есть бинарные данные следует кодировать, к примеру в base64). При использовании метода POST в
      | кодировании нет необходимости.
    hr
    p
      | Последний стабильный релиз браузера, Internet Explorer 11, состоялся 8 апреля 2014 года. Его пользовательский
      | интерфейс был адаптирован таким образом, чтобы одинаково подходить в качестве программы для настольного
      | компьютера и приложения для Windows 8.
    p
      | Версии Internet Explorer были выпущены для других операционных систем, включая Internet Explorer для Xbox 360 и
      | Internet Explorer Mobile для мобильных устройств (для Windows CE, Windows Mobile и Windows Phone 7), Internet
      | Explorer для Mac и Internet Explorer для UNIX (разрабатывался компанией Microsoft для использования в ОС Solaris
      | и HP-UX; разработка прекращена с версией IE 5 в 2001 году, а поддержка прекращена в 2002).
      | Internet Explorer имеет вкладки, блокировщик всплывающих окон, фишинг-фильтр, встроенный RSS-агрегатор,
      | поддержку интернациональных доменных имён, средств групповой политики и возможность автообновления через Windows
      | Update.
    p
      | Internet Explorer использует компонентную архитектуру на технологическом стандарте Component Object Model. Она
      | состоит из нескольких главных компонентов, каждый из которых помещён в отдельную динамически подключаемую
      | библиотеку (DLL) и отображает набор инструментов интерфейса программирования приложений COM с хостингом в
      | главном исполнимом модуле Internet Explorer, iexplore.exe:
    div.lists
      p
        | • WinInet.dll является блоком управления протоколами HTTP, HTTPS и FTP.
      p
        | • URLMon.dll отвечает за управление и загрузку веб-контента типа MIME, и обеспечивает потоковую безопасность для
        | WinInet.dll и работы других протоколов.
      p
        | • MSHTML.dll содержит браузерный движок Trident, который отвечает за отображение страниц на экране и управление
        | веб-страницами на основе DOM.
      p
        | • IEFrame.dll содержит пользовательский интерфейс и окно IE, начиная с версии Internet Explorer 7.
      p
        | • ShDocVw.dll обеспечивает навигацию, локальное кэширование и функцию истории для браузера.
      p
        | • BrowseUI.dll отвечает за отображение таких элементов интерфейса пользователя, как меню и панель инструментов.
    p
      | Explorer не имеет собственного сценарного языка. Вместо этого MSHTML.dll открывает интерфейс
      | программирования приложений, который позволяет программисту разработать скриптовую среду, которая подключена и
      | предоставляет доступ к дереву DOM.
      | По умолчанию пользователю предоставляются только модули JScript и VBScript.
      
  script(src='design/js/readparams.js')
