extends layout

block content
  .links
    hr
    a(href="/beginning", class="beginning")= 'ВОСХОЖДЕНИЕ И РАСЦВЕТ'
    br
    a(href="/stagnation", class="stagnation")= 'ЗАСТОЙ'
    br
    a(href="/breakdown", class="breakdown")= 'УПАДОК'
    br
    a(href="/test", class="test")= 'ТЕСТ'
    hr
    a(href="/", class="test")= 'Вернуться на главную страницу'
  .content
    p.topic
        | Застой
    p.subhead
        | IE 6.0
    p
        | Internet Explorer 6 (сокращённо IE6) — шестая версия обозревателя от Microsoft. Она была выпущена в августе 2001
        | года, одновременно с завершением разработки Windows XP, и была включена в состав этой системы.
        | Нововведение
    p
        | В этой версии был усовершенствован DHTML, контроль содержимого, улучшена поддержка CSS, DOM и SMIL 2.0. Интерфейс
        | предоставляет динамический доступ и обновление структуры и стиля документа (без ограничений). Движок MSXML был
        | усовершенствован до версии 3.0. Возможности: новая версия IEAK, мультимедийная панель, интеграция с Windows
        | Messenger, автоматическая коррекция размера изображения, P3P, а также внешний вид в соответствии с темой
        | рабочего
        | стола «Luna» для Windows XP.
    p
        | DOM (Document Object Model - «объектная модель документа») — это не зависящий от платформы и языка программный
        | интерфейс, позволяющий программам и скриптам получить доступ к содержимому HTML-, XHTML- и XML-документов, а
        | также
        | изменять содержимое, структуру и оформление таких документов.
    p
        | Модель DOM не накладывает ограничений на структуру документа. Любой документ известной структуры с помощью DOM
        | может
        | быть представлен в виде дерева узлов, каждый узел которого представляет собой элемент, атрибут, текстовый,
        | графический или любой другой объект. Узлы связаны между собой отношениями «родительский-дочерний».
    p
        | Изначально различные браузеры имели собственные модели документов (DOM), несовместимые с остальными. Для
        | обеспечения
        | взаимной и обратной совместимости специалисты международного консорциума W3C классифицировали эту модель по
        | уровням,
        | для каждого из которых была создана своя спецификация. Все эти спецификации объединены в общую группу, носящую
        | название «W3C DOM».
    p
        | Ещё один интерфейс прикладного программирования, называемый «JDOM», обеспечивает более высокий, чем «W3C DOM»,
        | уровень для работы с XML-документами на Java.
    p
        | SMIL (The Synchronized Multimedia Integration Language) — язык разметки для создания интерактивных мультимедийных
        | презентаций. Является рекомендацией консорциума Всемирной паутины.
        | SMIL описывает разметку для временной синхронизации, размещения, анимаций, визуальных преобразований и многих
        | других
        | аспектов. Одной из областей применения SMIL является создание слайдшоу для презентаций. Также технология SMIL
        | позволяет демонстрировать многие типы файлов, такие как текст, видео и аудио. SMIL похож на HTML, он выполнен на
        | основе XML и позволяет включать в себя ссылки на другие презентации SMIL, а также кнопки, такие как «Старт»,
        | «Стоп»
        | и др.
        | SMIL был разработан в 1997 году и служит в том числе для описания работы с мультимедийным контентом с многих
        | источников, в том числе серверов в интернете. Другим массовым применением формата является его интеграция в
        | формат
        | цифровых аудиокниг DAISY.
    p
        | Несмотря на изменения по сравнению с 5-й версией, 6-я версия IE не соответствовала стандартам, продвигаемым W3C,
        | что
        | препятствовало их распространению. Единственным относительно крупным обновлением за 5 лет с момента выхода
        | версии,
        | был Service Pack 2, не внесший изменений в механизм рендеринга страниц. Это, вкупе с монополией IE после «войны
        | браузеров», усугубило данное положение. В 2009 году IE6 ещё сохранял некоторую популярность, и некоторые
        | разработчики утверждали, что он замедляет прогресс во Всемирной паутине. Популярные сайты всё чаще рекомендовали
        | пользователям обновить браузер, но некоторые компании продолжали требовать от своих работников использования в
        | офисе
        | исключительно IE6.
    p
        | Версия IE — 6.0, была признана многими "худшим IT-продуктом всех времен". Тем не менее, программа, поставлявшаяся
        | с
        | Windows XP и Windows Server 2003, помогла Microsoft довести рыночную долю почти до абсолюта — 95% к 2002 году.
        | Устранив принципиального конкурента, Netscape, и превратившись в монопольного игрока, на следующие пять лет
        | компания
        | напрочь забыла об исправлении ошибок и совершенствовании интерфейса. А просьбы о поддержке веб-стандартов и
        | добавлении новых функций просто игнорировались.
    p
        | IE6 сильно затормозил развитие всей интернет-индустрии. Разработчикам и веб-дизайнерам еще много лет приходилось
        | верстать сайты так, чтобы они могли отображаться в "шестерке", и даже создавать отдельные версии страниц,
        | специально
        | оптимизированные под IE6.
    p
        | Microsoft доминировала на рынке, не выпуская крупных обновлений на протяжении более чем 5 лет. В конечном счете
        | именно это и послужило причиной заката IE. Длительное отсутствие инноваций и релизов привело к тому, что
        | пользователи начали переходить к конкурентам — в частности, Firefox от Mozilla. Так, в начале 2005 года "лисий"
        | браузер (код которого, кстати, был частично основан на коде Netscape) смог занять 8% на мировом рынке.
    
    p.subhead
        |IE 7.0
    p
        | Internet Explorer 7 (сокращённо IE7) — седьмая версия обозревателя от Microsoft, выпущенный в октябре 2006 года,
        | а к
        | 26 октября того же года был загружен более 3 млн раз. К середине января 2007 года число загрузок превысило 100
        | миллионов. Являясь продолжателем линейки версий Internet Explorer, он стал первым существенным обновлением
        | обозревателя за более чем 5 лет. В этой версии логотип был изменён на вариант 2006-2011 годов. Буква E стала
        | синей,
        | а кольцо вокруг неё стало жёлтым.
    p
        | Браузер поставляется как обозреватель по умолчанию в Windows Vista и Windows Server 2008, а также предлагается
        | как
        | обновление для Windows XP и Windows Server 2003, замещающее Internet Explorer 6.
    p.subhead  Новые возможности
    p
        | Следующая, 7-я версия появилась только в октябре 2006 года. Она стала браузером по умолчанию в операционной
        | системе
        | Windows Vista. IE7 получил 256-битное шифрование (для Vista), защищенный режим, альфа-канал (прозрачность) для
        | PNG-изображений, улучшенную поддержку вкладок и платформы Windows RSS.
    p
        | Новая версия отличается поддержкой вкладок, поддержкой alpha-канала PNG-изображений, улучшением поддержки
        | стандартов
        | W3C, встроенным механизмом работы с RSS, защиты от мошенников, интернациональных доменных имён и др. Данная
        | версия
        | IE входит в состав Windows Vista с некоторыми улучшениями в области безопасности: защищённый режим (выполнение
        | браузера в «песочнице» с доступом только к временным интернет-файлам, защита памяти и т. д.). Эта версия была
        | первой
        | версией, в которой больше не содержалось кода Mosaic.
    p
        | В 2001 году для систем Windows 9x а также для NT начиная с Windows NT 4.0 и заканчивая 2000, был выпущен
        | Internet
        | Explorer 6. Также он был стандартно включён в Windows XP. С выпуском в 2003 году IE6 SP1 Microsoft объявила о
        | будущей версии обозревателя, которая будет выпущена вместе с Windows Vista.
    p
        | Первая бета-версия браузера, IE7 Beta 1, была выпущена 27 июля 2005 года, однако она не была публичной. Первая
        | публичная версия, Beta 2, была выпущена 31 января 2006 года.
    p
        | Релиз новой версии обозревателя состоялся 18 октября 2006 года В тот-же день Yahoo! выпустил своё дополнение к
        | браузеру в виде боковой панели.
    p
        | 8 октября 2007 года был выпущен обновлённый установщик IE7, не требующий проверки легальности копии операционной
        | системы при установке.
    p
        | Тем не менее, влияние "шестерки" было настолько велико, что конкурировать с ней не могли даже последующие версии
        | браузера Microsoft. Неудачу не скрывали и в самой компании. "Мы облажались", — в таких словах признался на
        | отраслевой конференции в 2006 году бывший руководитель "браузерного" направления Microsoft Дин Хачемовитч.
        | Windows
        | XP, с которой 6-я версия браузера шла по умолчанию, оставалась самой популярной "операционкой" вплоть до августа
        | 2011 года, пока ее не сместила Windows 7.
    p  Преемник IE7, обозреватель Internet Explorer 8 вышел в марте 2009 года.