extends layout

block content
  .links
    hr
    a(href="/beginning", class="beginning")= 'ВОСХОЖДЕНИЕ И РАСЦВЕТ'
    br
    a(href="/stagnation", class="stagnation")= 'ЗАСТОЙ'
    br
    a(href="/breakdown", class="breakdown")= 'УПАДОК'
    br
    a(href="/test", class="test")= 'ТЕСТ'
    hr
    a(href="/", class="test")= 'Вернуться на главную страницу'
  .content
    p.topic Тест
    p
      | Основная часть теста написана на JavaScript и содержит 100 подтестов в шести группах и несколько специальных тестов (0, 97, 98, 99)
    p
      | Группа 1: DOM Traversal, DOM Range, HTTP
    p
      | Группа 2: DOM2 Core и DOM2 Events
    p
      | Группа 3: DOM2 Views, DOM2 Style, CSS 3 селекторы и Media Queries
    p
      | Группа 4: Поведение HTML таблиц и форм при управлении из скрипта и DOM2 HTML
    p
      | Группа 5: Тесты из соревнования Acid3
    p
      | Группа 6: ECMAScript
      | Основной критерий проверки — запуск тестов с настройками браузера по умолчанию. Конечный результат должен получить 100 из 100 баллов и соответствовать стандартному исполнению пиксел в пиксел. На браузерах для персональных компьютеров анимация должна быть гладкой (каждый тест должен проходиться быстрее чем за 33 мс, что является примерным эквивалентом по производительности ноутбуку Apple), однако малая производительность на слабом компьютере не является критерием непрохождения теста.
    p
      | Также для правильного отображения полного прохождения необходимо, чтобы браузер отображал правильную иконку и заголовок страницы. При этом сервер возвращает статус сервера Not Found:404 при попытке загрузить её, а изображение иконки содержится в теле страницы. Этот тест проверяет правильность реакции браузера на ошибки сервера. Стандартная иконка является ошибкой.
    p
      | В течение теста на страницу добавляются цветные квадраты; цвет квадратов зависит от числа выполненных подтестов в группе. Если в группе все тесты провалены — квадрат не отображается. Если несколько тестов провалено, цвета будут такими:
    p
      | 1-5 подтестов пройдены: чёрный квадрат.
    p
      | 6-10 подтестов пройдены: серый квадрат.
    p
      | 11-15 подтестов пройдены: серебристый квадрат.
    p
      | Все 16 подтестов пройдены: цветной (красный, оранжевый, жёлтый, зелёный, синий, фиолетовый — для каждой из групп свой цвет).
    p
      | После прохождения теста буква «А» в слове Acid3 становится кликабельной, при этом при простом нажатии выводится всплывающее окно с перечнем непройденных тестов, или же данная информация выводится в новом окне при щелчке с нажатой кнопкой Shift.
    p
      | Тест использует картинки, закодированные Base64, некоторые сложные селекторы, цветовые значения CSS 3 (HSLA, при этом ненастоящие селекторы и значения должны игнорироваться).
    p
      | Ян Хиксон начал работать над тестом в апреле 2007 года, но разработка шла медленно. В декабре 2007 работа пошла ускоренным темпом, и проект привлёк общественное внимание 10 января 2008, когда он был упомянут в блоге Анне ван Кестерен. В то время тест был доступен по ссылке, явно указывающий на незаконченность теста: «http://www.hixie.ch/tests/evil/acid/003/NOT_READY_PLEASE_DO_NOT_USE.html», что однако не мешало ему привлекать всеобщее внимание веб-разработчиков. В это время были завершены только 84 подтеста, и 14 января Ян Хиксон объявил соревнование для завершения оставшихся шестнадцати. 
     p
      | Разработчики, победившие в соревновании:
     p
      | • Сильвен Паш. Подтесты 66–67 (DOM).
    p
      | • Дэвид Чен. Подтест 68 (UTF-16).
    p
      | • Симон Питерс (Opera) и Анне ван Кестерен (Opera). Подтест 71: HTML-парсинг.
    p
      | • Джонас Сикин (Mozilla) и Гаррет Смит. Подтест 72: динамическая модификация текста стилей.
    p
      | • Джонас Сикин (Mozilla). Подтест 73: Вложенные события.
    p
      | • Эрик Дэльстром (Opera). Подтесты 74–78: SVG и SMIL.
    p
      | • Кэмерон МакКормак (Batik SVG library). Подтест 79: SVG-шрифты.
    p
      | Ещё до выпуска официального релиза влияние теста на развитие браузеров было огромным. WebKit, в частности, сделал прыжок вперёд; менее чем за месяц его результаты в тесте возросли с 60 до 87.
    p
      | Официально тест был выпущен 3 марта 2008. Руководство и документация должны были быть завершены через несколько месяцев, однако до мая 2009 релиз не состоялся. Сообщение о завершённости теста означает лишь возможность использовать его, при нахождении ошибок тест может быть модифицирован. Тест уже несколько раз был изменён для исправления некоторых ошибок, относящихся к позиционированию, SVG-шрифтам и производительности. 26 марта 2008 одновременно разработчики Opera и WebKit объявили о стопроцентном прохождении теста.
    p
      | По состоянию на март 2008 ранние версии движков Presto и WebKit получали 100 из 100 и правильно обрабатывали страницу, однако на тот момент ни один из браузеров на основе этих движков не проходил тест.
    p
      | 17 сентября 2011, Ян Хиксон объявил об обновлении Acid3 тестов. Он утверждает, что, удалил часть тестов, которые могут быть сильно изменены в следующих спецификациях. В результате Firefox 6 и Internet Explorer 9 получили 100 из 100 в тесте Acid3.
    p
    p.subhead IE 10.0
    p
      | Internet Explorer 10 (сокращённо IE10) — десятая версия обозревателя Internet Explorer от Microsoft и преемник Internet Explorer 9. В операционной системе Windows 8 устанавливается по умолчанию, также доступна версия для Windows 7. Не совместим с Windows Vista и более ранними версиями.
    p
      | 12 апреля 2011 года была выпущена первая предварительная версия Internet Explorer 10, которая работала на платформах Windows 7 и выше, следующие выпуски предварительных версий работали только на Windows 8. Финальная версия Internet Explorer 10 была предустановлена в операционной системе Windows 8, которая поступила в розничную продажу 26 октября 2012 года. В середине ноября 2012 года Microsoft выпустила предварительную версию для предыдущей операционной системы — Windows 7, а 26 февраля 2013 года выпустила её финальную версию. Поддержка всех веб-стандартов реализована так же, как в Internet Explorer 10 для Windows 8.
    p
      | В Windows 8 браузер разделен на две версии, первая версия браузера — в Metro интерфейсе без поддержки плагинов, вторая — традиционное приложение рабочего стола в которой возможность расширения за счет плагинов сохранена. В 64-битной версии Windows 8 — Metro версия IE10 будет 64-битным приложением.
    p
      | В новой версии браузера совершенствуется поддержка JS, CSS3 и HTML5 и аппаратного ускорения. Внешний вид в оконном режиме не претерпел существенных изменений по сравнению с 9 версией.
    p.subhead IE 11.0
    p
      | Internet Explorer 11 - удивительный браузер, компания Microsoft проделала большую работу за последние несколько выпущенных версий IE, и перед Вами одно из лучших творений разработчиков из Редмонда.
      p
        | Браузер стал удобнее, а также его возможности вступили на новую ступень развития, многое было улучшено в сфере поддержки современных веб-стандартов, WebGL, SPDY, улучшенная поддержка CSS3 и HTML5, всё это получает пользователь при установке Internet Explorer
      p
        | После запуска браузер IE11 встречает нас страницей новой вкладки, где будут находиться все наиболее посещаемые сайты, порядок сайтов можно менять, а также удалять ненужные, к тому же всегда можно настроить список сайтов, которые будут открываться по умолчанию сразу после запуска браузера.
      p
        | Избранное
      p
      p
        | В Internet Explorer 11 разработчики продолжают придерживаться схемы отображения избранного (в обычном понимании это закладки), доступ к избранному доступен в 1 клик, поэтому всегда можно открыть нужный сайт очень быстро, не требуется открывать новую вкладку или тянуться к клавиатуре, достаточно одного клика и Ваш любимый сайт уже перед Вами.
      p
        | По сравнению с IE10 и предыдущими версиями новый Internet Explorer 11 продолжает улучшаться в поддержке различных web-стандартов, для примера можно протестировать браузер в бенчмарках HTML5Test и CSS3Test, где IE11 показывает достойные результаты и любые сайты в нём будут отображаться правильно.